@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("Images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.offset::before {
    display: block;
    content: "";
    height: 2rem;
    margin-top: -2rem;
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(39, 39, 39);
}

body::-webkit-scrollbar-thumb {
    background-color: #ffe27f;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.493);
    justify-content: space-between;
    align-items: center;
    background-color: #36374e;
    height: 90px;
    display: flex;
    padding: 10px 2%;
    z-index: 999;
}

.navbar {
    flex: 1;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
}

a {
    color: white;
    text-decoration: none;
}

.bar {
    flex: 1;
    text-align: right;
    list-style: none;
    position: relative;
    left: -25%;
    right: 25%;
    padding: 15px 0%;
}

.bar li,
button {
    display: inline-block;
    padding: 0px 20px;
}

.discord {
    list-style: none;
}

.navibtn {
    width: 25px;
    cursor: pointer;
    display: none;
}

button {
    font-weight: 500;
    font-size: 20px;
    width: fit-content;
    height: 60px;
    padding: 0 25px;
    background-color: #222539;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #313247;
}

.footerlyr1 {
    padding: 2rem 0;
    background-color: #36374e;
    height: 400px;
}

.home {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.scodebanner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    height: fit-content;
    width: fit-content;
}

.banner {
    max-width: 100%;
    max-height: 100%;
}

.arrdown {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    height: fit-content;
    width: fit-content;
}

.bg {
    background-color: #2225397c;
    position: static;
    max-width: auto;
    height: 300vh;
    top: 0;
}


/*Issue: makes footer look weird*/

.bottomstuff {
    background-color: #222539;
    width: auto;
    height: 20%;
    margin-top: 20%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.hometop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    height: fit-content;
    width: fit-content;
}

.PPTOS,
.copyright {
    padding: 0 2%;
    font-weight: 200;
    font-size: 12px;
    color: #fff3dc;
}

.copyright {
    display: inline-block;
}

.PPTOS li {
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
}

@media only screen and (max-width:700px) {
    /*Navigation Bar*/
    .btn {
        display: none;
    }
    .bar {
        background-color: #222539;
        width: 100%;
        position: absolute;
        top: 90PX;
        left: 0;
        z-index: 2;
    }
    .bar li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navibtn {
        display: block;
        width: 25px;
    }
    #menulist {
        overflow: hidden;
        transition: 0.3s;
    }
    /*Logo*/
    .dwn {
        width: 140px;
    }
    .banner {
        width: 300px;
    }
    /*Footer*/
    .bottomstuff {
        width: auto;
        height: 20%;
        margin-top: 100%;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
}

@media only screen and (max-width:768px) {
    /*Navigation Bar*/
    .btn {
        display: none;
    }
    .bar {
        background-color: #222539;
        width: 100%;
        position: absolute;
        top: 90PX;
        left: 0;
        z-index: 2;
    }
    .bar li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navibtn {
        display: block;
        width: 25px;
    }
    #menulist {
        overflow: hidden;
        transition: 0.3s;
    }
    /*Logo*/
    .dwn {
        width: 140px;
    }
    .banner {
        width: 300px;
    }
    /*Footer*/
    .bottomstuff {
        width: auto;
        height: 20%;
        margin-top: 100%;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
}